@import 'variables';
@import 'lib/normalize';
@import 'lib/grid';

/**
 * Start writing your css here...
 */
body {
  font-family: 'Lato';
  background-color: @color-light;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  color: @color-gray;
}

.paper {
  background-color: @color-white;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  padding: 10px;
}

.header {
  position: relative;
  background-color: @color-white;
  height: 60px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  padding-top: 20px;
  user-select: none;

  h1 {
    margin: 0;
    font-size: 19px;
    padding-left: 130px;
  }
}

.logo {
  width: 90px;
  top: 5px;
  position: absolute;
  pointer-events: none;
}

label {
  font-weight: 300;
  margin-bottom: 10px;
  display: block;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid lighten(@color-gray, 50%);
  font-size: 14px !important;
  font-weight: 300;
  outline: none;
  margin-bottom: 10px;
}

.ap-footer {
  display: none !important;
}

.separator {
  border-bottom: 1px solid lighten(@color-gray, 50%);
}

.product {
  padding: 10px;
  border: 1px solid lighten(@color-gray, 50%);
  margin-top: 20px;
  position: relative;

  img {
    position: absolute;
    width: 20px;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  p {
    margin: 0;
    font-weight: 300;
  }
}

.btn {
  color: @color-white;
  border-radius: 0;
  border: none;
  display: block;
  width: 100%;
  padding: 8px 0;
  margin-top: 20px;
  cursor: pointer;

  &.btn-primary {
    background-color: @color-success;
  }
}
